# 默认代码属主：所有改动默认请求 @ilovetochangetheworld 审查。
# 语法见 https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @ilovetochangetheworld
