[Unit]
Description=Periodic restart for QQMusicApi Web Service

[Timer]
OnBootSec=10min
OnUnitActiveSec=6h
Unit=qqmusic-api-web-restart.service
Persistent=true

[Install]
WantedBy=timers.target
